/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url("https://fonts.googleapis.com/css?family=Montserrat|Roboto:400");
@import url('https://fonts.googleapis.com/css?family=Fredoka%20One');

$header-font: "Montserrat", "Helvetica", "sans-serif";
$base-font: "Roboto", "Helvetica", "sans-serif";

@font-face {
  font-family: 'BebasNeue';
  src: url('bebasneue.otf');
}

$my-font: "BebasNeue";

// Local fonts (uncomment following lines)
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// Font-size and line-height
$base-size: 16px;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$brand-color: #D23333;


// LearnForGood
$gray: #3B3B3B;
$blue: #4A90E2;
$lightblue: #EEF5FF;
$lessonblue: #E2EFFF;
$green: #49B55F;
$yellow: #FFFBC7;
$slightlightgray: #ADADAD;


$red: #EE5F5B;
$blue: #469AE0;
$orange: #F26419;
$lightgray: #F4F4F4;
$darkgray: #F0F0F0;
$blue1: #E2EFFF;
$blue2: #97D7F4;
$blue3: #67E8F9;
$blue4: #33A6DC;
$blue5: #1C57A0;
$blue6: #3498DB;
$blue7: #2980B9;
$success: #36A269;


/* -------------------------------------
 * ACTIVE ADMIN Colors
 * ------------------------------------- */
// Scheme
$panelBorder: #babdc5;
$skinActiveColor: #3498DB;
$bodyColor: rgba(236, 240, 241, 0.48);
$skinBlack: rgb(55, 71, 79);
$panelHeaderBck: $skinBlack;
$skinBlackLight: rgb(69, 90, 100);
$textGray: rgb(174, 179, 181);
$skinTextColor: #1e2a33;
$skinTextActiveColor: white;
$skinTextTable: #7f8c8d;
$skinHeaderBck: #1e2a33;
