
<div class="top-margin padded-allsides padded">
  <%= simple_form_for [@course, @lesson, @assignment] do |f| %>
    <%= f.input :user_answer, label: false %>
    <%= f.button :submit, 'Re-submit Assignment', class: 'btn btn-primary' %>
  <% end %>
</div>
