#course-content {
  padding: 0px;
  margin: 0px;
  // margin-left: 200px;
  // width: 100%;
  // margin: 0 auto;
  // border-radius: 2px;
  background: rgba(175, 175, 175, 0.1);

  top: 70px;
  bottom: 0;
  left: 200px;
  height: auto;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  width: calc(100%-200px);
}

#course-content li {
  display: block;
  width: 33%;
  float: left;
  padding-bottom: 5px;
  list-style-type: disc !important;
}

.course_technology {
  background-color: #D7FBFD;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-style: 1px solid grey;

  img {
    border-radius: 10px;
  }

}

.course_issue {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-style: 1px solid grey;

  img {
    border-radius: 10px;
  }

}
