
.course_container {
  overflow-x: scroll;
}

.left_padding {
  padding-left: 220px;
}
.green_text {
  color: #3DBE31 !important;
}

.syllabus_box {
  border: 1px solid #f0f0f0;
}
.green_box {
  border: 1px solid #3DBE31;
  background: #3DBE31;
  padding: 5px;
  width: 100px;
  color: white !important;
}
.green_grey_hr {
  width: 25%;
  height:2px;
  border-top:1px solid #3DBE31;
  align: left;
}

.body-gray {
  color: #566b78;
}

.lesson_time_course_show {
  justify-content: center;
}

#course_content {
   background: white;
  top: 70px;
  bottom: 0;
  left: 0;
  height: auto;
  position: relative;
  z-index: 1;


// lesson margins
  margin: 0 auto;
  max-width: 720px;
  padding-left: 5px;
  padding-right: 5px;
  width: 100%;

// Spacing
  line-height: 1.5;
  padding: 4em 1em;


// letter-spacing: .2px;
  -webkit-font-smoothing: antialiased;


// Soft Accent Colors
  color: #566b78;
  font-size: 18px;

  h1, h2, strong {
  // color: #333;
  color: $blue7;
  }

  h2 {
  margin-top: 1em;
  padding-top: 1em;
  }

  embed {
  margin: 3em 0em;
  }
}



.course_intro {
  display: block;
  align-content: center;
  justify-content: center;
  color: #566b78;
  p {
    font-size: 14px;
    color: #566b78;
  }
}

@media(max-width:768px) {
  .quarter_padding_left {
    padding-left: 5%;
    padding-right: 5%
  }
}
.quarter_padding_left {
  padding-left: 25%;
}

.hand_heart_background {
  color: white;
  text-align: center;
  margin-top: 0px;
  height: 100vh;
  background-size: cover !important;
  background-image: url('assets/handsnotext.jpg');
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
}

.course_show_card {
  margin: 10px 0px;
  padding: 10px 0px;
  border-radius: 10px;
  color: rgb(10,10,10);
  // max-width: 50em;
  i {
    color: $blue6;
  }
  h4 {
    color: $blue7;
  }
}

.background_gray {
  // background-color: #ECECEC;
  background-color: rgba(0,0,0,0.04);
}

.background_white {
  background-color: white;
}

.course_outcomes {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #555;
  display: flex;
  align-items: top;
  justify-content: space-between;
  flex-wrap: wrap;
  p {
    font-size: 12 px;
  }
  h4 {
    font-size: 16px;
  }
}

.course_project {
  color: #555;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  img {
    margin: 5px;
  }
}

.review_box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: solid 1px #f0f0f0;
  align-content: center;
}

.project_review {
  justify-content: center;
  align-items: center;
  padding: 10px;
  // background-color: rgba(255,165,0,0.95);
  background: linear-gradient(135deg, $red,$orange);
  color: white;
  border-radius: 5px;
  padding: 8px;
  // margin: 10px;
  // height: 280px;

  div {
    padding: 5px;
  }
}

.project_review2 {
  justify-content: center;
  align-items: center;
  padding: 10px;
  // background-color: rgba(255,165,0,0.95);
  background: linear-gradient(-45deg, $red,$orange);
  color: white;
  border-radius: 5px;
  padding: 8px;
  // margin: 10px;
  // height: 280px;

  div {
    padding: 5px;
  }
}

.course_org {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.course_syllabus {

  justify-content: center;
  p {
    margin-bottom: 10px;
  }
  li {
    border-bottom: solid .5px black;
    list-style-type: none;
  }
  i {
    color: $blue6;
  }
}

.course_students {
  justify-content: space-around;
  align-items: center;

}

.course_show_student_card {
  justify-content: center;
  align-items: block;
  width: 150px;
  img {
    padding: 1px;
  }
}

.width-720 {
  max-width: 720px;
  margin: 0 auto;
}

.width-750 {
  max-width: 750px;
  margin: 0 auto;
}

.no-padding-margin {
  padding: 0px;
  margin:0px;
}

.small-org-info {
  font-size: 12px;
  color: #566b78;
}

.syllabus-item {
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.overlap-user-avatar {
  margin-left: -80px;
}

.center-overlap-photos {
  padding-left: 80px;
}
