.edit-profile-button {
  margin-top: 40px;
}

.heading {
  margin-bottom: 50px;
}

.course-information {
  border: 3px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}

.dashboard-course-card {
  height: 250px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px lightgray;
  margin-bottom: 30px;
  position: relative;
}

.card-content {
  position: absolute;
  top: 20px;
  left: 20px;
}

.dashboard-course-description h2, p {
  display: inline;
  padding-right: 20px;
}

.dashboard-course-description a {
  color: black;
}

.dashboard-course-description h2 {
  font-size: 22px;
}

.dashboard-course-description i {
  opacity: 0.6;
  font-size: 12px;
  text-align: center;
}

.dashboard-course-description a:hover {
  text-decoration: none;
  opacity: 0.6;
}
