.course-information {
  border: 3px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}

.dashboard-enroll-button {
  margin-top: 50px;
}

.dashboard-course-card {
  height: 250px;
  position: relative;
  border-radius: 5px;
  box-shadow: 2px 2px 5px lightgray;
  margin-bottom: 30px;
}

// .dashboard-course-description {
//   position: absolute;
//   left: 30px;
//   top: 10px;
// }

.dashboard-course-description a {
  color: black;
}

.dashboard-course-description h2 {
  font-size: 22px;
}

.dashboard-course-description i {
  opacity: 0.6;
  font-size: 12px;
  text-align: center;
}

.dashboard-course-description a:hover {
  text-decoration: none;
  opacity: 0.6;
}

.continue-course-button {
  position: absolute;
  right: 50px;
  top: 70px;
}

// .progress {
//   position: absolute;
//   left: 30px;
//   top: 10px;
//   max-width: 100%;
// }
