/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.tag-flex {
  flex: 0 0 auto;
}

// .home-iframe iframe {
//   height: 25vh;
// }

.characteristics {
  border-bottom: 1px solid rgba(0,0,0,0.1)
}

.second-row {
  margin-top: 20px;
}

// Courses Section on Home Page
.courses-heading {
  color: white;
  font-weight: bold;
  text-shadow: 0 2px 4px rgba(0,0,0,0.50);
  margin-bottom: 40px;
  margin-top: -20px;
}

.course-card {
  height: 340px;
  color: black;
  position: relative;
  border-radius: 3px;
  margin-bottom: 20px;
  box-shadow: 2px 2px 5px lightgray;
  margin: 20px;
}

.course-card-image {
  position: absolute;
  height: 50%;
  background-size: cover !important;
  top: 0;
  right: 0;
  left: 0;
  bottom: 20px;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
}

.course-card-title {
  color: white;
  font-weight: bold;
}

.course-card-mission {
  color: white;
  font-size: 22px;
  padding-top: 30px;
}

.course-card-description {
  position: absolute;
  bottom: 0px;
  padding: 25px;
  background-color: white;
  height: 170px;
  width: 100%;
}

.height-100 {
  height: 100px;
}


.course-card-description h2 {
  font-size: 22px;
}

.course-card-description p {
  font-size: 15px;
  margin: 0px;
}

.course-card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}

.course-card {
  transition: transform .5s;

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 2s cubic-bezier(.165, .84, .44, 1);
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .15);
    content: '';
    opacity: 0;
    z-index: -1;
  }

  &:hover,
  &:focus {
    transform: scale3d(1.006, 1.006, 1);

    &::after {
      opacity: 1;
    }
  }
}

.course-card:hover .overlay {
  opacity: 0.8;
}

.current-course-link:hover .overlay {
  opacity: 0;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  transition: .5s ease;
  background-color: black;
  opacity: 0;
}

.text {
  color: white;
  font-weight: bold;
  font-size: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

// Learning Process Section on Home Page
.wrapper-learning-process {
  background-size: cover !important;
  h3 {
    color: white;
  }
}

.learning-process-card {
  border-radius: 3px;
  background-color: $blue6;
  color: white;
  position: relative;
  height: 175px;
  margin: 40px 40px;
  opacity: 0.9;
}

.learning-process-description {
  align-items: center;
  padding-top: 20px;
  z-index: 1;
}

.learning-process-description h2 {
  font-size: 22px;
  z-index: 3;
}

.learning-process-description h1 {
  font-size: 40px;
   z-index: 3;
}

.learning-process-card:hover {
  background-color: white;
  color: $blue6;
  opacity: 0.9;
}

.course-card-link:hover{
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
}

#globe-image {
  margin-top: 30px;
  margin-bottom: 10px;
}


// Parallax Section
.parallax-logo {
  margin-bottom: 40px;
}

.parallax-text {
  color: #ffffff;
  font-weight: bold;
  text-shadow: 0 2px 4px rgba(0,0,0,0.50);
  margin-left: 165px;
  margin-right: 165px;
}

@media (max-width: 767px) {
  .parallax-text {
    margin-left: 50px;
    margin-right: 50px;
  }
}

.triangle {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}
