
// LESSON CONTENT AREA
#lesson-content {
  background: white;
  top: 0px;
  bottom: 0;
  left: 0;
  height: auto;
  position: relative;
  z-index: 1;




// lesson margins
  margin: 0 auto;
  // max-width: 720px;
  // padding-left: 5px;
  // padding-right: 5px;
  width: 100%;

// Spacing
  line-height: 1.5;
  padding: 4em 1em;


// letter-spacing: .2px;
  -webkit-font-smoothing: antialiased;


// Soft Accent Colors
  color: #566b78;
  font-size: 18px;

  h1, h2, strong {
  // color: #333;
  color: $blue7;
  }

  h2 {
  margin-top: 1em;
  padding-top: 1em;
  }

  embed {
  margin: 3em 0em;
  }

}

.flex-item-lesson-show-title {
  flex: 0 0 30%;
  padding-left: 0px;
  vertical-align: center;
  border-bottom: 2px solid $green;
}

.flex-item-grow {
  flex: 1 0 auto;
}



// for padded sections

.img-padded {
    padding-top: 2em;
    padding-bottom: 4em;
}

.section-margin {
    margin-top: 2em;
    margin-bottom: 2em;
}




// for any markdown, code, or forumalas

code, pre {
  background: #f5f7f9;
  border: none;
  border-bottom: 1px solid #d8dee9;
  color: #a7adba;
}

code {
  padding: 2px 4px;
  vertical-align: text-bottom;
}

pre {
  padding: 1em;
  border-left: 2px solid $blue7;

  .attribute {
    // softening the body text
  color: #5fb3b3;

  }

}



// avatar on top right
.lesson-avatar {
  cursor: pointer;
  position: fixed;
  top: 3px;
  right: 5px;
  box-shadow: 3px 6px 7px grey;
  z-index: 3;
}



// pop-up
.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}
.modalDialog > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}
.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}
.close:hover {
    background: #00d9ff;
}
