.organization-title {
  font-size: 2em;
}

.column-left {
  flex: 1 1 auto;
  padding: 20px;
}
.column-right {
  flex: 0 0 400px;
  padding: 20px;
  align-self: stretch;
  // background: #F8F7F7;
  border-left: 1px solid $lightgray;
}

.container-flexbox {
  display: flex;
}


