test

<div id="sidebar" class="text-center">
  <div class="">

    <!-- This is the button to close the sidenav -->
    <div class="text-right div-relative flexbox">
      <button href=""  class="closebtn text-right" onclick="closeNav()">
        &times;
      </button>
    </div>

    <div class="text-left flexbox">
      <div class="lesson-text flex-item-score">
        <h5><strong>我的课程</strong></h5>
      </div>
      <div class="lesson-text flex-item-rank">
        <h5><strong>课程通知</strong></h5>
      </div>
      <div class="lesson-text flex-item-rank">
        <h5><strong>我的排名</strong></h5>
      </div>
    </div>

  </div>
</div>
