<div id="footer">
  <div class="container">
    <div class="row footer-content text-center">

      <div class="col-xs-12 col-sm-6 col-md-4">
        <ul class="list-inline">
          <li><a href=""><i class="fa fa-weixin" aria-hidden="true"></i></a></li>
          <li><a href=""><i class="fa fa-github" aria-hidden="true"></i></a></li>
        </ul>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <p>沪ICP备17006075号-1</p>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <p>Made with <i class="fa fa-heart-o" aria-hidden="true"></i> by Project Elon</p>
      </div>

      </div>
    </div>
  </div>
</div>

