<div id="footer">
  <div class="container">
    <div class="row text-center padded">

      <div>
        <%= image_tag "footer_heading.png", class: ""%>
      </div>

      <div>
        <h4>通过学习创新科技实践，设计社会问题的解决方案</h4>
      </div>

      <div class="socials">
        <ul class="list-inline text-size-14px">
          <li><a href="default.asp"><%= image_tag "weixin.png", class: "social" %></a>techgood</li>
          <li><a href="default.asp"><%= image_tag "envelope.png", class: "social" %></a>techforgood.china@gmail.com</li>
          <li><a href="default.asp"><%= image_tag "home.png", class: "social" %></a>techforgood.cn</li>
        </ul>
      </div>

      <div>
        <h6>京ICP备17068580号-1</h6>
      </div>

    </div>
  </div>
</div>
