<div id="footer">
  <div class="container">
    <div class="row text-center padded">

      <div class="footer-heading">
        <h3>TECH FOR GOOD</h3>
      </div>
      <div>
        <h4>一个通过科技实践创新社会问题解决方案的线上教育平台</h4>
      </div>

      <div class="socials">
        <ul class="list-inline text-size-14px">
          <li><a href="default.asp"><%= image_tag "weixin.png", class: "social" %></a>Techforgood</li>
          <li><a href="default.asp"><%= image_tag "envelope.png", class: "social" %></a>techforgood@gmail.com</li>
          <li><a href="default.asp"><%= image_tag "home.png", class: "social" %></a>techforgood.com</li>
        </ul>
      </div>

    </div>
  </div>
</div>
