<div id="footer">
  <div class="container">
    <div class="row footer-content">
      <div id="socials">
        <ul class="list-inline">
          <li><a href=""><i class="fa fa-youtube"></i></a></li>
          <li><a href=""><i class="fa fa-instagram"></i></a></li>
          <li><a href=""><i class="fa fa-facebook"></i></a></li>
          <li><a href=""><i class="fa fa-twitter"></i></a></li>
        </ul>
      </div>
      <div id="made-by">
        <p>Made with <i class="fa fa-heart-o" aria-hidden="true"></i> by Project Elon</p>
        <p>沪ICP备17006075号-1</p>
      </div>
    </div>
  </div>
</div>
