<!-- Temporary Navbar...original navbar can be found in shared/navbar.html.erb -->
<div class="navbar-fixed-top">
  <div id="navbar" class="navbar-techforgood flexbox space-around">
    <!-- Logo -->
    <a href="#top" class="page-scroll">
      <%= link_to root_path, class: "navbar-techforgood-brand" do %>
        <%= image_tag "logo_lg.png", height: "55px" %>
      <% end %>
    </a>
  </div>
</div>
