.devise-type {
  flex: 0 0 20;
}

.devise-form {
  flex: 1 0 60%;
  position: relative;
}


.width-960 {
  width: 600px;
  margin: 0 auto;
}


.form-border {
  border: 3px dashed white;
  border-radius: 15px;
}

.help-block {
  color: white;
}

@media (max-width: 1170px) {
  .login-image {
    display: none;
  }
}

