#footer {
  background: $blue6;
  padding: 20px 0;
  color: white;
}

#footer p {
  margin-top: 22px;
}

#footer ul {
  margin-top: 10px;
}

#footer a {
  color: white;
  font-size: 30px;
  letter-spacing: 20px;
  transition: color 0.5s ease;
}

#footer a:hover{
  color: $blue2;
}
