/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

 // show more snippet
 .show-more-snippet {
    height:100px;  /*this is set to the height of the how much text you want to show based on the font size, line height, etc*/
    overflow:hidden;
}


.align-center {
  display:flex;
  align-items:center;
  // justify-content: space-around;
}

.height-80vh {
  height: 90vh;
}

// margins
.no-y-margin {
  margin-top: 0px;
  margin-bottom: 0px;
}

.no-bottom-margin {
  margin-bottom: 0px;
}

.no-padding-margin {
  padding: 0px;
  margin:0px;
}

.no-side-padding-margin {
  padding: 0px;
  margin:0px;
}

.margin-bottom-15px {
  margin-bottom: 15px;
}



.width-1000 {
  max-width: 1000px;
}


// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

.slightly_padded {
  padding-top: 2em;
  padding-bottom: 2em;
}

.one_padded {
  padding-top: 1em;
  padding-bottom: 1em;
}

.no-y-padding {
  padding-top: 0px;
  padding-bottom: 0px;
}

.padding-left-20 {
    padding-left: 20px;
}

.padded-bottom {
  padding-top: 0;
  padding-bottom: 5em;
}

.padding-top {
  padding-top: 5em;
  padding-bottom: 0;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: $blue6;
}
.bg-dark-blue {
  background: #3b5998;
}
.bg-white {
  background: white;
}

// DIV Background

.div-blue {
  opacity: .8;
  border-right: 3px solid $blue7;
}





// Links

a:focus {
  text-decoration: none;
}

.link-white a {
  text-decoration: none;
  color: white;
}
.link-white a:hover {

  color: white;
  opacity: .9;
}



// TEXT
.text-white {
  color: white;
}
.text-blue6 {
  color: $blue6;
}
.text-blue7 {
  color: $blue7;
}
.text-orange {
  color: $orange;
}

.text-warning {
  color: $red;
}

.text-success {
  color: $success;
}

.text-lightgray {
  color: $lightgray;
}

.text-darkgray {
  color: $lightgray;
}
.text-reading-gray {
  color: #566b78;
}

.text-double {
  font-size: 400%;
}
.text-lg {
  font-size: 80px !important;
}

.text-16px {
  font-size: 16px;
}

.text-80px {
  font-size: 80px !important;
}

.text-60px {
  font-size: 60px !important;
}

.text-45px {
  font-size: 45px !important;
}

.text-smooth {
  -webkit-font-smoothing: antialiased;
}


.text-type-animation {
  // steps splits animation to that many segments.
  // alternate reverses. infinite goes on forever
  // if want cursor, then add ', blink .8s infinite' to next line
  animation: type 5s steps(17)infinite alternate;
  // animation-timing-function: ease, step-start, steps(17);
  overflow: hidden;
  white-space: nowrap;
  margin-left: 10px;
  padding-bottom: 10px;

  // can do 'ch' for character width of a 0 in the font
  // width: 19ch;

  // makes border right look like a cursor
  // border-right: 3px solid;
}

.pvw-title span {
  display: none;
}
.pvw-title:after {
  animation: change 30s infinite;
  animation-delay: 7.2s;
  content: 'Learn & Lend a Hand...';
}



@keyframes change2 {
  0% {
    content: 'Learn & Lend a Hand';
    width: 235px;
  }
  11% {
    content: 'Learn & Lend a Hand';
    width: 630px;
  }
  22% {
    content: 'Learn & Lend a Hand';
    width: 630px;
  }
  33% {
    content: 'Learn & Find a Missing Child';
    width: 235px;
  }
  44% {
    content: 'Learn & Find a Missing Child';
    width:800px;
  }
  55% {
    content: 'Learn & Find a Missing Child';
    width:800px;
  }
  66% {
    content: 'Learn & Find a Missing Child';
    width:235px;
  }
  77% {
    content: 'Learn & Identify Cataracts';
    width: 700px;
  }
  88% {
    content: 'Learn & Identify Cataracts';
    width: 700px;
  }
  100% {
    content: 'Learn & Identify Cataracts';
    width: 700px
  }

}


@keyframes change {
  0% {
    content: 'Learn & Lend a Hand...';
    // width: 630px;
    width: 900px;
  }
  33% {
    content: 'Learn & Find a Missing Child...';
    width: 900px;
  }
  66% {
    content: 'Learn & Identify Cataracts...';
    width: 900px;
  }
  100% {
    content: 'Learn & Lend a Hand...';
  }

}

@keyframes type {
  0% {
    width: 235px;
  }

  /* Finish changes by here */
  50% {
    width: 850px;
  }

  /* Between 20% and 100%, nothing changes */
  100% {
    width: 850px;
  }
}


@keyframes blink {
  50% {
    border-color: transparent;
  }
}


.shape-slight {
    text-shadow: rgb(41, 128, 185) 1px 1px,
    rgb(41, 128, 185) 2px 2px,
    rgb(41, 128, 185) 3px 3px,

}

.shape {
    text-shadow: rgb(41, 128, 185) 1px 1px,
    rgb(41, 128, 185) 2px 2px,
    rgb(41, 128, 185) 3px 3px,
    rgb(41, 128, 185) 4px 4px,
    rgb(41, 128, 185) 5px 5px,
    rgb(41, 128, 185) 6px 6px,
    rgb(41, 128, 185) 7px 7px,
    rgb(41, 128, 185) 8px 8px,
    rgb(41, 128, 185) 9px 9px,
    rgb(41, 128, 185) 10px 10px,
    rgb(41, 128, 185) 11px 11px,
    rgb(41, 128, 185) 12px 12px,
    rgb(41, 128, 185) 13px 13px,
    rgb(41, 128, 185) 14px 14px,
    rgb(41, 128, 185) 15px 15px,
    rgb(41, 128, 185) 16px 16px,
    rgb(41, 128, 185) 17px 17px,
    rgb(41, 128, 185) 18px 18px;
    // rgb(20, 151, 126) 19px 19px,
    // rgb(21, 152, 126) 20px 20px,
    // rgb(21, 153, 127) 21px 21px,
    // rgb(21, 154, 128) 22px 22px,
    // rgb(21, 155, 129) 23px 23px,
    // rgb(21, 156, 129) 24px 24px,
    // rgb(21, 157, 130) 25px 25px,
    // rgb(21, 158, 131) 26px 26px,
    // rgb(21, 159, 132) 27px 27px,
    // rgb(22, 160, 133) 28px 28px;
}

.fredoka {
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-weight: normal;
    font-stretch: normal;
    line-height: 1;
    font-family: "Fredoka One", Helvetica, sans-serif;
}



// FONT AWESOME
.fa-xs {
font-size: 14px;
}

.fa-md {
  font-size: 22px;
}

.fa-xl {
  font-size: 50px;
}
.fa-xxl {
  font-size: 100px;
}
.fa-side-padding {
  padding: 0px 3px;
}

.globe {
  font-size: 52px;
}


#poweredby {
    visibility: hidden !important;
}

.parent-relative {
  position: relative;
}

.child-absolute {
  position: absolute;
  z-index: 2;
}

.child-tobecovered{
  z-index: 1;
}

.background-white {
  background-color: white;
  height: 20px;
  bottom: 102px;
  width: 90%;
  margin-left: 10px;
}

// giving earth icon a shadow

.menu {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative
}

.menu_label {

    margin-top: 21px;
    z-index: 2;
    position: absolute;
}

.photoStyle {
    z-index: 1;
    border: 0px;
    margin: auto;
    color: rgb(41, 128, 185);
}






// IMAGES

.img-double {
  width: 200px;
}
.img-full-width {
  width: 100%;
}

.img-radius-gray {
  border-radius: 10px;
  // box-shadow: 5px 9px 6px slategray;
}

.img-radius-orange {
  border-radius: 10px;
  box-shadow: 3px 4px 16px $orange;
}

.img-radius-blue {
  border-radius: 10px;
  box-shadow: 3px 4px 16px $blue7;
}

.img-height-30 {
  height: 30px;
}

#desktop-image {
  width: 30%;
}


.image-spin {

    -webkit-animation:spin 60s linear infinite;
    -moz-animation:spin 60s linear infinite;
    animation:spin 60s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
