<div id="sidebar" class="hidden-xs text-center">
    <div class="">

      <!-- WHY MODULE -->
      <div class="text-left module-completed flexbox">
        <div class="lesson-text flex-item-title text-white">
          <h5><strong>WHY </strong></h5>
        </div>
        <div class="lesson-text flex-item-week">
          <h6> (week 1)</h6>
        </div>
        <div class="lesson-text flex-item-complete">
          <h6>Finished</h6>
        </div>
      </div>
      <div class="text-left lesson-tab div-relative flexbox">

        <div class="lesson-text flex-item-image">
          <h6><i class="fa fa-play-circle text-success" aria-hidden="true"></i></h6>
        </div>

        <div class="lesson-text flex-item-lesson-title">
          <h6>Lesson Title</h6>
        </div>

        <div class="lesson-text flex-item-time text-lightgray">
          <h6>15 mins</h6>
        </div>
        <a class="lesson-link" href="/courses/1/lessons/1" ></a>
      </div>
      <div class="text-left lesson-tab div-relative flexbox">
        <div class="lesson-text flex-item-image">
          <h6><i class="fa fa-rocket text-success" aria-hidden="true"></i></h6>
        </div>
        <div class="lesson-text flex-item-lesson-title">
          <h6>Lesson Title</h6>
        </div>
        <div class="lesson-text flex-item-time text-lightgray">
          <h6>15 mins</h6>
        </div>
        <a class="lesson-link" href="/courses/1/lessons/2" ></a>
      </div>

      <!-- WHAT MODULE -->
      <div class="text-left module-pending flexbox">
        <div class="lesson-text flex-item-title text-white">
          <h5><strong>WHAT </strong></h5>
        </div>
        <div class="lesson-text flex-item-week">
          <h6> (week 2)</h6>
        </div>
        <div class="lesson-text flex-item-complete text-warning">
          <h6>Missed</h6>
        </div>
      </div>
      <div class="text-left lesson-tab div-relative flexbox">
        <div class="lesson-text flex-item-image">
          <h6><i class="fa fa-play-circle text-lightgray" aria-hidden="true"></i></h6>
        </div>
        <div class="lesson-text flex-item-lesson-title">
          <h6>Lesson Title</h6>
        </div>
        <div class="lesson-text flex-item-time text-lightgray">
          <h6>15 mins</h6>
        </div>
        <a class="lesson-link" href="#" ></a>
      </div>
      <div class="text-left lesson-tab div-relative flexbox">
        <div class="lesson-text flex-item-image">
          <h6><i class="fa fa-rocket text-lightgray" aria-hidden="true"></i></h6>
        </div>
        <div class="lesson-text flex-item-lesson-title">
          <h6>Lesson Title</h6>
        </div>
        <div class="lesson-text flex-item-time text-lightgray">
          <h6>15 mins</h6>
        </div>
        <a class="lesson-link" href="#" ></a>
      </div>
      <div class="text-left lesson-tab div-relative flexbox">
        <div class="lesson-text flex-item-image">
          <h6><i class="fa fa-pencil text-lightgray" aria-hidden="true"></i></h6>
        </div>
        <div class="lesson-text flex-item-lesson-title">
          <h6>Lesson Title</h6>
        </div>
        <div class="lesson-text flex-item-time text-lightgray">
          <h6>15 mins</h6>
        </div>
        <a class="lesson-link" href="#" ></a>
      </div>

      <!-- HOW MODULE -->
      <div class="text-left module-pending flexbox">
        <div class="lesson-text flex-item-title text-white">
          <h5><strong>HOW </strong></h5>
        </div>
        <div class="lesson-text flex-item-week">
          <h6> (week 3-8)</h6>
        </div>
        <div class="lesson-text flex-item-complete text-success">
          <h6>On Going</h6>
        </div>
      </div>
      <div class="text-left lesson-tab div-relative flexbox">
        <div class="lesson-text flex-item-image">
          <h6><i class="fa fa-play-circle text-lightgray" aria-hidden="true"></i></h6>
        </div>
        <div class="lesson-text flex-item-lesson-title">
          <h6>Lesson Title</h6>
        </div>
        <div class="lesson-text flex-item-time text-lightgray">
          <h6>15 mins</h6>
        </div>
        <a class="lesson-link" href="#" ></a>
      </div>
      <div class="text-left lesson-tab div-relative flexbox">
        <div class="lesson-text flex-item-image">
          <h6><i class="fa fa-rocket text-lightgray" aria-hidden="true"></i></h6>
        </div>
        <div class="lesson-text flex-item-lesson-title">
          <h6>Lesson Title</h6>
        </div>
        <div class="lesson-text flex-item-time text-lightgray">
          <h6>15 mins</h6>
        </div>
        <a class="lesson-link" href="#" ></a>
      </div>
      <div class="text-left lesson-tab div-relative flexbox">
        <div class="lesson-text flex-item-image">
          <h6><i class="fa fa-comments-o text-lightgray" aria-hidden="true"></i></h6>
        </div>
        <div class="lesson-text flex-item-lesson-title">
          <h6>Lesson Title</h6>
        </div>
        <div class="lesson-text flex-item-time text-lightgray">
          <h6>15 mins</h6>
        </div>
        <a class="lesson-link" href="#" ></a>
      </div>


      <!-- MATERIALS & RESOURCES -->
      <div class="text-left module-materials div-relative flexbox">
        <div class="lesson-text flex-item-title">
          <h5><strong>Materials &amp; Resources </strong></h5>
        </div>
        <a class="lesson-link" href="#" ></a>
      </div>

    </div>
  </div>
