<div class="container">

  <!-- Lessons Sidebar -->
  <div id="sidebar" class="hidden-xs text-center">
    <div class="">
      <div class="text-left module-completed text-white flexbox">
        <div class="lesson-text flex-item-title">
          <h5><strong>WHY </strong></h5>
        </div>
        <div class="lesson-text flex-item-week">
          <h6> (week 1)</h6>
        </div>
        <div class="lesson-text flex-item-complete">
          <h6>Finished</h6>
        </div>
      </div>
      <div class="text-left lesson-tab flexbox">
        <div class="lesson-text flex-item-image">
          <h6>></h6>
        </div>
        <div class="lesson-text flex-item-lesson-title">
          <h6>Lesson Title</h6>
        </div>
        <div class="lesson-text flex-item-time">
          <h6>15 mins</h6>
        </div>
      </div>
      <div class="text-left lesson-tab flex-item">
        <p><strong>Lesson Title</strong><br>Lesson Description</p>
      </div>
      <div class="text-left lesson-tab flex-item">
        <p><strong>Lesson Title</strong><br>Lesson Description</p>
      </div>
      <div class="text-left lesson-tab flex-item">
        <p><strong>Lesson Title</strong><br>Lesson Description</p>
      </div>
      <div class="text-left lesson-tab flex-item">
        <p><strong>Lesson Title</strong><br>Lesson Description</p>
      </div>
    </div>
  </div>


  <!-- Lesson Content -->
  <div class="container">
    <div id="lesson-content">
      <h1 class="text-center">Lesson Title</h1>
      <h2 class="text-center">Tech For Good</h2>
      <p>Lesson Text: Donec ullamcorper nulla non metus auctor fringilla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Sed posuere consectetur est at lobortis. Curabitur blandit tempus porttitor.<br><br>

      Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br><br>

      Sed posuere consectetur est at lobortis. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vestibulum id ligula porta felis euismod semper. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
    </div>
  </div>

</div>


