<div id="course_sidebar" class="text-center">


      <div class="text-left lesson-tab div-relative course_sidebar_tab padded_tab">
        <div class="lesson-text flex-item-lesson-title slightly_padded">
          <h5>Brought To You By</h5>
          <h5><%= @course.organization.name %></h5>
          <%= image_tag("JohnsonandJohnsonLogo.svg.png", height: '30px') %>
        </div>
      </div>
      <div class="text-left lesson-tab div-relative course_sidebar_tab">
        <h5><a href="#overview">Overview</a></h5>
      </div>
      <div class="text-left lesson-tab div-relative course_sidebar_tab">
        <h5><a href="#syllabus">Curriculum</a></h5>
      </div>
      <div class="text-left lesson-tab div-relative course_sidebar_tab">
        <h5><a href="#project">Practical Project</a></h5>
      </div>
      <div class="text-left lesson-tab div-relative course_sidebar_tab">
        <h5><a href="#tutors">Tutor Team</a></h5>
      </div>
      <div class="text-left lesson-tab div-relative course_sidebar_tab">
        <h5><a href="#faqs">FAQ</a></h5>
      </div>

      <div class="padded_tab">
        <%= render :partial => 'enrollments/form', locals: {course: @course, enrollment: Enrollment.new } %>
        <h6>Course Starts: 2017.10.2</h6>
        <h6><%= @course_enrollments.count %> Students</h6>
      </div>
  </div>
