<div id="course_sidebar" class="text-center course_sidebar">
    <div class="text-left lesson-tab div-relative course_sidebar_tab padded_tab">
        <div class="lesson-text flex-item-lesson-title one_padded">
            <h5>此课程由以下机构联合开发授课</h5>
            <%= image_tag("handson-logo.png", height: '64px', class: 'org-logo') %>
                <h5 class='org-name'><%= @course.organization.name %></h5>
        </div>
    </div>
    <div class="sidebar-items">
        <div class="text-left lesson-tab div-relative course_sidebar_tab_active course_sidebar_tab">
            <h5><a href="#overview">关于议题</a></h5>
        </div>
        <div class="text-left lesson-tab div-relative course_sidebar_tab">
            <h5><a href="#syllabus">课程大纲</a></h5>
        </div>
        <div class="text-left lesson-tab div-relative course_sidebar_tab">
            <h5><a href="#project">实践项目</a></h5>
        </div>
        <div class="text-left lesson-tab div-relative course_sidebar_tab">
            <h5><a href="#tutors">讲师团队</a></h5>
        </div>
        <div class="text-left lesson-tab div-relative course_sidebar_tab">
            <h5><a href="#faqs">常见疑问</a></h5>
        </div>
    </div>
    <div class="padded_tab">
        <%= render :partial => 'enrollments/form', locals: {course: @course, enrollment: Enrollment.new } %>
            <!-- <h6>Course Starts: <%#= @course.start_date %></h6> -->
            <!-- <h6><%#= @course_enrollments.count %> Students</h6> -->
    </div>
</div>
