<!-- banner
features
cards - links to individual courses
flowchart - links to enroll?
FAQs -->

<!-- Banner -->
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path('banner.jpeg') %>);">
  <div class="banner-content">
    <h1>TechForGood</h1>
    <p>Learn & Lend a Hand</p>
  </div>
</div>

<!-- Characteristics -->
  <div class="container how_to_section text-center padded">
    <div class="row">
      <div class="col-sm-4">
        <%= image_tag "char1.png" %>
        <h4>Search through a wide variety of bands</h4>
      </div>
      <div class="col-sm-4">
        <%= image_tag "char2.png" %>
        <h4>Book the perfect band</h4>
      </div>
      <div class="col-sm-4">
        <%= image_tag "char3.png" %>
        <h4>Book the perfect band</h4>
      </div>
    </div>
  </div>
