.banner {
  color: white;
  text-align: center;
  margin-top: 0px;
  height: 100vh;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  h1 {
  font-size: 60px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  }
  p {
  font-size: 30px;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 20px;
  }
}

.top-margin {
  margin-top: 70px;
}

.banner-graduation-cap {
  color: white;
  font-size: 70px;
}

// USER DASHBOARD SHOW PAGE
.dashboard-banner {
  height: 40vh;
  background-color: $blue6;
  margin-top: 70px;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.dashboard-img-round {
  width: 200px;
  border-radius: 50%;
}

#gradient {
  width: 100%;
  padding: 0px;
  margin-top: 70px;
}

// COURSE SHOW PAGE
.course-banner {
  color: white;
  text-align: center;
  margin-top: 0px;
  height: 100vh;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  h3 {
  font-size: 40px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  }
  p {
  font-size: 20px;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 20px;
  }
  margin-bottom: 15px;
}


// ORGANIZATION SHOW PAGE
.organization-banner {
  height: 90vh;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;

  h1 {
  font-size: 60px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  }

  p {
  font-size: 30px;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 20px;
  }
}

.parallax {
    // /* The image used */
    // background-image: url("img_parallax.jpg");
    /* Set a specific height */
    min-height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
