#enroll-btn {
  display: inline-block;
  font-size: 24px;
  background-color: $success;
  position: relative;
  text-shadow: 0px 0px 1px #BF4C28;
  color: white;
  padding: 15px;
  border-radius: 15px;
  &:hover {
    color: #ffffff;
    padding: 17px;

    span {
      filter: brightness(.9) contrast(1.2);
      transform: scale(0.96);
    }
    &:before {
      bottom: 3px;
      filter: blur(6px) brightness(0.8);
    }
  }
  }

$neon: #00FFF8;

/* Mixins */
@mixin gradientBg($direction, $startColor, $endColor) {
  background: $startColor;
  background: -moz-linear-gradient($direction,  $startColor 0%, $endColor 80%,$endColor 100%);
  background: -webkit-linear-gradient($direction,  $startColor 0%, $endColor 80%,$endColor 100%);
  background: linear-gradient($direction,  $startColor 0%, $endColor 80%,$endColor 100%);
}

/* bg shortcodes */
.bg-gradient1 span,
.bg-gradient1:before {
  @include gradientBg(180deg, #fa7e29, #F6682F);
}
.bg-gradient2 span,
.bg-gradient2:before {
  @include gradientBg(180deg, #39C2C9, #3FC8C9);
}
.pop-onhover.bg-gradient3 span,
.pop-onhover.bg-gradient3:before {
  @include gradientBg(180deg, #B9AEF0, #ADA1EB);
}

.bg-gradient4 span {
  @include gradientBg(180deg, #F6682F, #F6682F);
}
// .bg-gradient4:before {
//    @include gradientBg(180deg, #d2d6df, #666a73);
  // }

/* General */
.wrapper {
    margin: 4% auto;
  text-align: center;
}

/* fancy Button */
.fancy-button {
  display: inline-block;
  margin: 20px;
  font-family: 'Heebo', Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  line-height: 24px;
  color: #ffffff;
  position: relative;

  &.bg-gradient1 {
    text-shadow: 0px 0px 1px #BF4C28;
  }

  &.bg-gradient2 {
    text-shadow: 0px 0px 1px #227270;
  }

  &.bg-gradient3 {
    text-shadow: 0 0 1px #546082;
  }

  &:before {
    content: '';
    display: inline-block;
    height: 40px;
    position: absolute;
    bottom: -1px;
    left: 10px;
    right: 10px;
    z-index: -1;
    border-radius: 2em;
    filter: blur(14px) brightness(0.9);
    transform-style: preserve-3d;
    transition: all 0.3s ease-out;
  }
  i {
    margin-top: -2px;
    font-size: 1.265em;
    vertical-align: middle;
  }
  span {
    display: inline-block;
    padding: 16px 20px;
    border-radius: 50em;
    position: relative;
    z-index: 2;
    will-change: transform, filter;
    transform-style: preserve-3d;
    transition: all 0.3s ease-out;
  }
  &:focus{
    color: #ffffff;
  }
  &:hover {
    color: #ffffff;

    span {
      filter: brightness(.9) contrast(1.2);
      transform: scale(0.96);
    }
    &:before {
      bottom: 3px;
      filter: blur(6px) brightness(0.8);
    }
  }
  &:active span {
      filter: brightness(.75) contrast(1.7);
    }
  &.pop-onhover {
    span {
      border-radius: 4px;
    }
    &:before {
      opacity: 0;
      bottom: 10px;
    }
    &:hover {
      &:before {
        bottom: -7px;
        opacity: 1;
        filter: blur(16px);
      }
      span {
        // transform: scale(1.03);
        transform: scale(1);
      }
      &:active {
        span {
          filter: brightness(1) contrast(1);
          transform: scale(1);
          transition: all 0.2s ease-out;
        }
        &:before {
          bottom: 0;
          filter: blur(5px) brightness(0.85);
          transition: all 0.2s ease-out;
        }
      }
    }
  }
}

.pop-onhover.bg-gradient3 span:hover{
    @include gradientBg(120deg, #B9AEF0, #ADA1EB);
}


//solid to gradient

.bg-gradient4:before {
  bottom: 2px;
  opacity: 0.6;
  transition: all 0.3s ease-out;
}

.bg-gradient4 {
  transition: all 1s ease;
  span {
    outline: 0px solid transparent;
  }
  &:hover span {
    @include gradientBg(-25deg, #FC3D7C, #F76A34);
  }
  &:focus span, &:active span{
    @include gradientBg(25deg, #FC3D7C, #F76A34);
  }
  &:focus span {
    // outline: 2px solid $neon;
    box-shadow: 0 0 9px $neon;
  }
  &:active span {
    filter: brightness(.85) contrast(1.3);
  }
}

.bg-gradient4 span {
  text-transform: capitalize;
}


/////////////////////////////
//button -3
///////////////////////////
.btn-3 {
  background: lighten($blue5, 3%);
  border: 1px solid darken($blue5, 4%);
  box-shadow: 0px 2px 0 darken($blue5, 5%), 2px 4px 6px darken($blue5, 2%);
  font-weight: 900;
  letter-spacing: 1px;
  transition: all 150ms linear;
}

.btn-3:hover {
  background: darken($blue5, 1.5%);
  border: 1px solid rgba(#000, .05);
  box-shadow: 1px 1px 2px rgba(#fff, .2);
  color: lighten($blue5, 18%);
  text-decoration: none;
  text-shadow: -1px -1px 0 darken($blue5, 9.5%);
  transition: all 250ms linear;
}



