.enroll-btn {
  color: $blue1;
  border: 1px solid #999999;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
}
#unstyled-btn {
  background:none;
  border:none;
  font-size:1em;
  color:white;
}
