.enroll-btn {
  background-color: $success;
  border: 1px solid #999999;
  padding: 8px 8px;
  border-radius: 10px;
  font-weight: lighter;
  opacity: 0.9;
}
#unstyled-btn {
  background:none;
  border:none;
  font-size:1em;
  color:white;
}
