.lesson-container {
  width: 100%;
  position: absolute;
  background-color: #fff;
  min-height: calc(100% - 54px);
}


// TAB CONTAINERS
.lesson-tab {
  background: #FFFFFF;
  border-bottom: 1px solid #EDEDED;
  border-right: 3px solid white;

}
.lesson-tab:hover {
  opacity: 1;
  border-right: 3px solid $blue7;
}
.position-relative {
  position: relative;
}


.lesson-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  background: $blue7;
  opacity: 0;
}
.lesson-link:hover{
  opacity: 0.00;


  transition: opacity 0.3s ease;
}


.div-relative {
  position: relative;
}
.module-blue {
  background: $blue6;
  // border: 1px solid $success;
}
.module-completed {
  background: $green;
  border-right: 3px solid $green;
  // border: 1px solid $success;
}
.module-completed:hover {
  border-right: 3px solid lightgray;
  // border: 1px solid $success;
}

.module-rank {
  background: white;
}

.module-pending {
  background: $blue6;
  border-right: 3px solid $blue6;
}

.module-pending:hover {
  border-right: 3px solid lightgray;
}

.module-chatbot {
  background: $orange;
  border-right: 3px solid $orange;
}

.module-chatbot:hover {
  border-right: 3px solid lightgray;
}

.module-materials {
  background: #FFFFFF;
  border: 1px solid #EDEDED;
  margin-top: 20px;
  margin-bottom: 30px;
}

.lesson-link {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index:2;
  opacity: 0;
}







// lesson completion text color
.lesson-completed {
  color: white;
}
.lesson-missed {
  color: $red;
}
.lesson-ongoing {
  color: white;
}
.lesson-upcoming {
  color: white;
}



// tab text

.lesson-text h6 {
  color: #566b78;
}


// MODULE FLEXBOX
.flexbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rank-flexbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-item-score {
  flex: 0 0 50%;
  padding-left: 10px;
  vertical-align: center;
}

.flex-item-rank {
  flex: 0 0 50%;
  padding-left: 10px;
  vertical-align: center;
}

.flex-item-title {
  flex: 0 0 auto;
  padding-left: 10px;
  vertical-align: center;
}

.flex-item-week {
  flex: 1 0 auto;
  padding-left: 5px;
  padding: 5px;
  color: white;
}

.flex-item-complete {
  flex: 0 0 80px;
  padding: 2px;
}


// LESSON TAB FLEXBOX

.flex-item-image {
  flex: 0 0 10%;
  padding-left: 10px;
  vertical-align: center;
}

.flex-item-lesson-title {
  flex: 0 0 60%;
  padding-left: 10px;
  vertical-align: center;
}

.flex-item-time {
  flex: 0 0 25%;
  padding: 2px;
}
.flex-button {
  flex: 0 1 auto;
}


// COLLAPSIBLE MODULES
.libreProfileSpan {
  margin-left: 10px;
}

.librePanelHeading {
  padding: 5px 10px;
}

.librePanelListGroupItem {
  padding: 5px 15px;
}

.librePanelSubListGroupItem {
  padding: 0px;
}

.libreMenuIcon {
  padding: 5px 3px;
}


// MOBILE MENU

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0px; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 3; /* Stay on top */
  top: 0;
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.7s; /* 0.5 second transition effect to slide in the sidenav */
  border-right: 1px solid $lightgray;
  box-shadow: 1px 0px 4px $lightgray;
}


/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  background-color: white;
  color: $blue6;
  font-size: 60px;
  margin-left: 0px;
  width: 100%;
  text-decoration: none;
  font-size: 60px;
  cursor:pointer;
  padding: 0px !important;
  border:none;
  line-height: .8;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 0px;
    margin-left: 0px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}


.fixed-sidemenu {
  background-color: white;
  color: $blue6;
  position: fixed;
  padding: 1px;
  z-index: 0;
  left: 20px;
  font-size:60px;
  z-index:2;
  cursor: pointer;
  top: 0px;
  left: 0px;
  line-height: .8;


}


iframe {
    border:none;
    height: 91vh;
  // top: -2px;
  // left: -2px;
  // right: -2px;
}


#sidebar {
  // justify-content: space-between;
  // align-items: center;
  width: 280px;
  background-color: white;
  position: absolute;
  top: 0px;
  overflow-y: none;
  // overflow-x: hidden;
  overflow-y: scroll;
  height: auto;
  bottom: 0;
  left: 0;

}

#course_sidebar {

  // justify-content: space-between;
  // align-items: center;
  width: 200px;
  background-color: #f0f0f0;
  position: absolute;
  top: 70px;
  // overflow-x: hidden;
  overflow-y: hidden;
  height: auto;
  bottom: 0;
  left: 0;
}

// LESSON CONTENT AREA is in _lesson_show_page.scss




